{% load static%}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static "styles/styles.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/normalize.css" %}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
	#div1 {width:350px;min-height:70px;padding:10px;background-color:white; border:1px  solid #aaaaaa;}
	#div2 {width:350px;min-height:70px;padding:10px;background-color:white; border:1px solid #aaaaaa;}
    </style>

	<title>Tester</title>
</head>
<body class="dark-fon" >
	<div class="layout" >


		<div class="section section--header">
			<nav class="navbar navbar-expand-lg ">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto ">
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="nav-img dropdown">
									<img class="nav_image" src="{% static "images/humburger.png" %}" alt="Menu">
								</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{% url 'test_plan_list' %}">Test plan list</a>
								<a class="dropdown-item" href="{% url 'test_case_list' %}">Test case list</a>
								<a class="dropdown-item" href="#">Tag list</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Users Settings</a>
								<a class="dropdown-item" href="#">Roles Settings</a>
							</div>
						</li>

						<li class="nav-item active align-self-center h-100">
                            <a class="nav-link" href="{% url 'index' %}" >
								<span class="nav--text">
									Главная
								</span>
							</a>
							<span class="sr-only">(current)</span>
						</li>
                        <li class="nav-item active">
							<a class="nav-link" href="{% url 'test_plan_new' %}" >
								<span class="nav-img add-img">
									<img class="nav_image" src="{% static "images/add.png" %}" alt="Add">
								</span>
								<span class="nav--text">
									Добавить тест план
								</span>
							</a>
							<span class="sr-only">(current)</span>
						</li>

						<li class="nav-item active">
							<a class="nav-link" href="{% url 'test_case_new' %}">
								<span class="nav-img add-img">
									<img class="nav_image" src="{% static "images/add.png" %}" alt="Add">
								</span>
								<span class="nav--text">
									Добавить тест кейс
								</span>
							</a>
							<span class="sr-only">(current)</span>
						</li>
					</ul>

					<form class="form-inline my-2 my-lg-0">
						Приветствую, {% if request.user.is_authenticated %}
                        {{ request.user.username }}
                        {% endif %}, сделай свой продукт круче - покрой тестами всё!
						<li class="nav-item dropdown">
							<a class="nav-lin" href="#" id="navbarProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="nav-img dropdown">
									<img src="{% static "images/profile11.svg" %}">
								</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarProfile">
								<a class="dropdown-item" href="{% url 'logout' %}" >  Logout</a>
{#								<a class="dropdown-item" href="{% url 'user_settings' %}" >Profile</a>#}
							</div>
						</li>

					</form>
				</div>
			</nav>
		</div>
    </div>

{#    {% if user.is_authenticated %}#}


{% block content %}

{% endblock %}
{##}
{#    {% else %}#}
{#                <div class="row">#}
{#                    <div class="col-5"></div>#}
{#					<div class="col-4">#}
{#						<div class="content--date">#}
{#							<span class="title title--main">Вы не имеете доступа к этой странице. Войдите что бы продолжить</span>#}
{#						</div>#}
{#					</div>#}
{#                </div>#}
{#                {% endif %}#}


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script>
			function allowDrop(ev) {
				ev.preventDefault();
			}

			function drag(ev) {
				ev.dataTransfer.setData("text", ev.target.id);
			}

			function drop(ev) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
			}
		</script>


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
	</html>
