
{% extends "wrapper.html" %}
{% block content %}

		<div class="container-fluid">
			<div class="section section--main">


			<div class=section--table>
				<div class="row ">
					<div class="col-12 ">
						<div class="table--border h-100">
							<table class="table table-sm">
							</table>
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th scope="col">Название тега</th>
                                        <th scope="col">Количество кейсов с этим тегом</th>
                                        <th scope="col">Активный</th>
										<th scope="col"></th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>email</td>
										<td>12</td>
                                        <td>
                                            <span class="switch">
                                            <input type="checkbox" class="switch" id="switch-id">
                                            <label for="switch-id"></label>
                                            </span>
                                        </td>
                                        <td>
											<div class="table-icon">
												<a href="URL">
													<i style="font-size:24px" class="fa">&#xf00d;</i>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>email</td>
										<td>12</td>
                                        <td>
                                             <span class="switch">
                                            <input type="checkbox" class="switch" id="switch-id">
                                            <label for="switch-id"></label>
                                            </span>
                                        </td>
                                        <td>
											<div class="table-icon">
												<a href="URL">
													<i style="font-size:24px" class="fa">&#xf00d;</i>
												</a>
											</div>
										</td>
									</tr>
										<tr>
										<td>email</td>
										<td>12</td>
                                        <td>
                                             <span class="switch">
                                            <input type="checkbox" class="switch" id="switch-id">
                                            <label for="switch-id"></label>
                                            </span>
                                        </td>
                                        <td>
											<div class="table-icon">
												<a href="URL">
													<i style="font-size:24px" class="fa">&#xf00d;</i>
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>

			<div class="container-fluid">
				<div class="section section--numeration">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
            </div>
		</div>


{% endblock %}
